{{ block title }}Thank You{{ endblock }}
{{ block content }}

<div class="card bg-light m-3">
    <div class="card-body">

        <p>
            Thank you for your time.
        </p>

        <p>
            Unfortunately, you are not eligible to continue in this study. This may be because you did not give consent, or because a required part of the task was incomplete.
        </p>

        <p>
            No data from your participation will be used.
        </p>

        <p>
            If you believe this was an error, feel free to contact the study coordinators at
            <a href="mailto:collectivemindslab@gmail.com">collectivemindslab@gmail.com</a>.
        </p>

    </div>
</div>

{{ endblock }}
