{% extends "global/Page.html" %} {% block content %}
<h3>Participation not started</h3>
<p>
  You indicated that you do not consent to participate in this study. We fully
  respect this decision. You will not take part in the study.
</p>

<p>You will now be redirected back to Prolific.</p>

<p>
  If the redirection does not happen automatically, please click
  <a id="manual-link" href="">this link</a>.
</p>
{% endblock %} {% block scripts %}
<script>
  console.log('js_vars:', js_vars);
  const url = js_vars.url;

  const link = document.getElementById('manual-link');
  if (link && url) {
    // Make the fallback link usable right away
    link.href = url;

    // Wait 5 seconds, then auto-redirect
    setTimeout(function () {
      window.location.href = url;
    }, 5000);
  } else {
    console.error('No URL in js_vars.url');
  }
</script>
{% endblock %}
